@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor-primaria: #E5E5E5;
    --cor-secundaria: #0a3871;
}


* {
    background-color: var(--cor-primaria);
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text_area {
    border: none;
    color: var(--cor-secundaria);
    text-transform: lowercase;
    margin-top: 90px;
}

::placeholder {
    color: var(--cor-secundaria);
}

.text_area:focus{
    outline:none;
}

.container__mensagem {
    display: inline-block;
    position: relative;
}

.mensagem {
    background: var(--cor-primaria);
    background-image: url(/imagens/finder.png);
    background-repeat: no-repeat;
    position: relative;
    border: none;
    border-radius: 24px;
    color: var(--cor-secundaria);
    margin: 20px 0 0 98px;
    padding-left: 20px;
}

.mensagem::placeholder {
    bottom: 100px;
    text-align: left;
    position: absolute;
}

.mensagem:focus {
    outline: none;
}

.botoes{
    margin: 18px;
    display: flex;
}

.button__cripto{
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 24px;
    cursor: pointer;
    color: var(--cor-primaria);
    width: 328px;
    height: 67px;
}

.button__descripto{
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 24px;
    color: var(--cor-secundaria);
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.button__copiar{
    border: 1px solid var(--cor-secundaria);
    border-radius: 24px;
    columns: var(--cor-secundaria);
    cursor: pointer;
    height: 67px;
    width: 328px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0 20px 0 40px;
}

.informacao {
    color: var(--cor-secundaria);
    font-size: 18px;
}

footer {
    text-align: center;
    color: #0A3871;
    padding: 40px 0;
    display: block;
    height: auto;
}

footer p {
    margin: 0;
    font-size: 16px;
}

footer a {
    color: white;
    text-decoration: none;
}

